<html>
   <head>
       <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
   </head>
   <body data-ng-app="minesweep-r">
       <ui-view>Waiting...</ui-view>
         <script src="node_modules/angular/angular.js"></script>
         <script src="node_modules/jquery/dist/jquery.js"></script>
         <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
         <script src="node_modules/angular-bootstrap/ui-bootstrap.js"></script>
         <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
         <script src="app/app.js"></script>
         <script src="app/app.routes.js"></script>
         <script src="app/app.controller.js"></script>
         <script src="app/player/player.module.js"></script>
         <script src="app/player/player.routes.js"></script>
         <script src="app/player/player.service.js"></script>
         <script src="app/player/player.controller.js"></script>
        <script src="app/game/game.module.js"></script>
         <script src="app/game/game.routes.js"></script>
         <script src="app/game/game.service.js"></script>
         <script src="app/game/game.controller.js"></script>
<script src="node_modules/lodash/index.js"></script>
         
         <script src="app/core/randomOrg/randomOrg.module.js"></script>
         <script src="app/core/randomOrg/randomOrg.controller.js"></script>
         <script src="app/core/randomOrg/randomOrg.api.js"></script>
         
         
         <div data-ng-controller="RandomOrgController as roc">
            <div class="input-group">
               <span class="input-group-addon" id="min-addon">Min</span>
               <input type=text ng-model="roc.min" value="" class="form-control" aria-describedby="min-addon"/>
            </div>
            <div class="input-group">
               <span class="input-group-addon" id="max-addon">Min</span>
               <input type=text ng-model="roc.max" value="" class="form-control" aria-describedby="max-addon"/>
            </div>
            <div class="input-group">
               <span class="input-group-addon" id="num-addon">Number of Random</span>
               <input type=text ng-model="roc.numberOfRandoms" value="" class="form-control" aria-describedby="num-addon"/>
            </div>
            
            <button class="btn" ng-click="roc.getRandomNumbers()">Generate Numbers</button>
            <ul class="list-group">
                <li ng-repeat="number in roc.randomNumbers">{{number}}<li>
            </ul>
         </div>

   </body>  
</html>
