<div class="jumbotron">
    <h1>Ping</h1>
    <div class="form-group">
        <label class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <input type="text" placeholder="Message" id="txtMessage" />
        </div>
    </div>

    <input type="button" class="btn btn-primary btn-lg" id="btnPing" value="Ping" />
    <div>
        <ul id="messages">

        </ul>
    </div>
</div>

@section scripts
{

    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="http://localhost/MinesweepR.Api/signalr/hubs"> </script>


    <script type="text/javascript">
        var mainHub;
        var bytes;
        $(function () {
            $.connection.hub.url = 'http://localhost/MinesweepR.Api/signalr/hubs';
            $.connection.hub.qs = { 'GroupName': 'group' };
            $.connection.hub.start().done(function (parameters) { });
            mainHub = $.connection.gameHub;
        });

        $(window).on('beforeunload', function () {
            $.connection.hub.stop();
        });

        $("#btnPing").on("click", function () {
            mainHub.server.pingMotherFlipper("group", $("#txtMessage").val());
        });

        $.connection.gameHub.client.pingingMotherFlipper = function (message) {
            $("#messages").append('<li>' + message + '</li>');
        };
    </script>
}