<div class="jumbotron">
    <h1>Ping</h1>
    <div class="form-group">
        <label class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <input type="text" placeholder="Message" id="txtMessage" />
        </div>
    </div>

    <input type="button" class="btn btn-primary btn-lg" id="btnPing" value="Ping" />
    <div>
        <ul id="messages">

        </ul>

        <ul id="board">

        </ul>
    </div>
</div>

@section scripts
{

    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"> </script>


    <script type="text/javascript">
        var mainHub;
        var bytes;
        $(function () {
            $.connection.hub.url = '@Url.Content("~/signalr/hubs")';
            // Initial properties required to establish connection
            $.connection.hub.qs = { 'GroupName': 'group' };
            $.connection.hub.start().done(function (parameters) { });
        });

        $(window).on('beforeunload', function () {
            $.connection.hub.stop();
        });

        $("#btnPing").on("click", function () {
            // $.connection.gameHub.server.pingMotherFlipper("group", $("#txtMessage").val());
            sendBoard();
        });

        function sendBoard() {
            var board=new Object();
            var coordinates=["10", "35", "50", "65"];
            board.height="9";
            board.weight="9";
            board.mineCoordinates=coordinates;
            board.lastPlayedPosition="5";

            $.connection.gameHub.server.sendBoard("group", board);
        }
        $.connection.gameHub.client.updateBoard = function (board) {
            $("#board").append('<li>' + board.Height + '</li>');
        };

        $.connection.gameHub.client.pingingMotherFlipper = function (message) {
            $("#messages").append('<li>' + message + '</li>');
        };
    </script>
}