.game-tile {
    line-height:4em;
    text-align:center;
    border:6px outset white;
    background:lightgray;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

