 <h1>minesweep-r</h1>
  <div >
    <div style="background-color: #c0c0c0;border-top: 2px solid #fcfcfc;border-left: 2px solid #fcfcfc;border-bottom: 2px solid #777;border-right: 2px solid #777;padding: 6px;height:500px">

    <div class="status">
      <div style="position: relative;padding: 3px 5px 0px 5px;margin-bottom: 6px;border-top: 2px solid #777;border-left: 2px solid #777;border-bottom: 2px solid #fcfcfc;border-right: 2px solid #fcfcfc;">
        <div class="mines">
          <div style="background-color:black;display:inline-block;font-family:Digital;font-size:x-large;color:red">{{gameCtrl.numberOfMines | fixedLength:3}}</div>
        </div>
         <div class="face" ng-click="gameCtrl.generateMap()">
        <img src="/images/facesmile.gif">
      </div>
      </div>
     
    </div>
    <div class="gameboard">
      <div style="background-color: #c0c0c0;border-top: 2px solid #fcfcfc;border-left: 2px solid #fcfcfc;border-bottom: 2px solid #777;border-right: 2px solid #777;padding: 6px;400px">
        <div style="clear:left" ng-repeat="pieceY in gameCtrl.gameBoard">
          <div style="position:relative; float:left;height:40px;width:40px;text-align: center;vertical-align: middle;line-height:40px;" ng-click="gameCtrl.handleClick(pieceX.positionX,pieceX.positionY)" ng-repeat="pieceX in pieceY">
            <div ng-show="!pieceX.clicked" class="game-tile" style="position:absolute; height:40px;width:40px;">

            </div>
            <span style="display:inline-block;border:1px solid gray;width:40px" ng-show="pieceX.numberOfSurroundingMines > 0">
            {{pieceX.numberOfSurroundingMines}}
           
          </span>
          <span style="display:inline-block;border:1px solid gray;width:40px" ng-show="pieceX.numberOfSurroundingMines <=0 && !pieceX.hasMine ">
           
           &nbsp;
          </span>
            <i ng-show="pieceX.hasMine" style="display:inline-block;border:1px solid gray;text-align: center;vertical-align: middle;line-height:40px;width:40px;"  class="fa fa-bomb"></i>
          </div>
        </div>

        <div style="clear:both"></div>





      </div>

     
    </div>
    </div>

 <div style="clear:both">
        <label>Height
          <input type="text" ng-model="gameCtrl.boardHeight" id="height" />
        </label>
      </div>
      <div>
        <label>Width
          <input type="text" ng-model="gameCtrl.boardWidth" />
        </label>
      </div>
     <div>
        <label>Number Of Mines
          <input type="text" ng-model="gameCtrl.numberOfMines" />
        </label>
      </div>
  </div>
  
  
  <button ng-click="gameCtrl.sendBoard()">test</button>